.navbar {
  display: inline-block;
}

.nav_box {
  display: inline-flex;
  opacity: 0.87;
  background-color: #FFFDFD;
  border-radius: 20px;
  overflow: visible;
  z-index: -10;
  padding: 2px 10px;
  margin: 10px 0 0 10px;
}

.nav-responsive {
  display: inline-flex;
  flex-direction: column;
  width: 30px;
  min-width: 30px;
}

.title {
  align-self: center;
  display: inline-block;
  font-family: AvenirNextCondensed-Regular;
  font-size: 3.2vw;
  color: #000000;
  padding: 0;
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn_img {
  max-width: 80%;
}

.dropdown {
  padding: 0;
  margin: 0 0 0 10px;
  opacity: 0.87;
  background: #FFFDFD;
  border-radius: 12px;
  cursor: pointer;
  flex-direction: column;
  width: 100px;
  min-width: 4.5rem;
}

.dropdown li {
  padding: 10%;
  font-family: Arial;
  font-size: 1.2vw;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
}

.dropdown li:nth-of-type(1):hover {
  background: #E4DFDF;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.dropdown li:nth-of-type(2):hover {
  background: #E4DFDF;
}

.dropdown li:nth-of-type(3):hover {
  background: #E4DFDF;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

@media only screen and (orientation: portrait) {

  .title {
    position: absolute;
    top: 1.5%;
    left: 4%;
    font-family: AvenirNextCondensed-Regular;
    font-size: 5.5vh;
    margin: 0;
    color: #4F4F4F;
    text-shadow: 0 0px 5px rgba(0,0,0,0.20);
  }

  .btn {
    position: absolute;
    top: 3%;
    left: auto;
    right: 4%;
    width: 9%;
  }

  .btn_img {
    position: absolute;
    top: 0;
    max-width: 100%;
    padding-bottom: 0;
  }

  .dropdown {
    position: absolute;
    top: 2.5%;
    left: auto;
    right: 4%;
    opacity: 1;
    flex-direction: row-reverse;
    background: #FFFDFD;
    border-radius: 6px;
    cursor: pointer;
    z-index: 100000;
    width: 60%;
    min-width: none;
  }

  .dropdown li {
    padding: 2.5%;
    font-family: Arial;
    font-size: 1.2vw;
    color: #000000;
    text-decoration: none;
  }

  .dropdown li:nth-of-type(1):hover {
    background: #DDDDDD;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .dropdown li:nth-of-type(2):hover {
    background: #DDDDDD;
  }

  .dropdown li:nth-of-type(3):hover {
    background: #DDDDDD;
    border-top-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0;
  }
}
