.graphics_1 {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 15.3%;
}

.graphics_2 {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 24%;
}

.graphics_3 {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 26.3%;
}

.graphics_4 {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 27.3%;
}

.graphics_5 {
  position: absolute;
  top: 2.5%;
  right: 6%;
  width: 26%;
  z-index: 10;
}

.graphics_6 {
  position: absolute;
  top: 2%;
  right: 7%;
  width: 27.3%;
  z-index: 10;
}

.graphics_7 {
  position: absolute;
  top: 2%;
  right: 7%;
  width: 27.3%;
  z-index: 10;
}

.graphics_8 {
  position: absolute;
  top: 2%;
  right: 7%;
  width: 27.3%;
  z-index: 10;
}

.graphics_9 {
  position: absolute;
  top: 5%;
  right: 4%;
  width: 27%;
  z-index: 10;
}

@media only screen and (orientation: portrait) {
  .graphics_1 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 30%;
    z-index: 10000;
  }

  .graphics_2 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 45%;
    z-index: 10000;
  }

  .graphics_3 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 45%;
    z-index: 10000;
  }

  .graphics_4 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 45%;
    z-index: 10000;
  }

  .graphics_5 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 45%;
    z-index: 10000;
  }

  .graphics_6 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 45%;
    z-index: 10000;
  }

  .graphics_7 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 45%;
    z-index: 10000;
  }

  .graphics_8 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 45%;
    z-index: 10000;
  }

  .graphics_9 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 45%;
    z-index: 10000;
  }
}
