/* {
  outline: 1px solid red;
}*/

.dropdown {
  display: none;
}

.btn {
  position: relative;
  top: 2rem;
  left: 2rem;
  display: inline-block;
}

.btn:hover .dropdown {
  position: absolute;
  display: block;
}

.dropdown a {
  position: relative;
  display: block;
  padding: 1rem;
  font-family: Arial;
  color: #4C4C4C;
  text-decoration: none;
}
