.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  bottom: 1.5%;
  left: 1%;
  width: 54%;
  height: 19%;
  z-index: 10;
}

.wrapper div {
position: relative;
vertical-align: middle;
opacity: 0.68;
font-family: AvenirNextCondensed-Regular;
font-size: 2.5vw;
color: #000000;
text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.wrapper p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0;
  margin: 0;
}

.break_2 {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-bottom: 1px solid #959595;
  box-shadow: 0 1px 1px 0 rgba(118,118,118,0.50);
  z-index: 1000000;
}
