/* {
  outline: 1px solid red;
}*/

html {
  min-height: 100%;
  overflow: hidden;
}

body {
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: 110vw 110vh;
  background-position: bottom;;
}

.smb {
  position: absolute;
  top: 10rem;
  right: 10rem;
}

.container {
  position: absolute;
  z-index: +1;
  bottom: 1rem;
  right: 1rem;
  width: 37.5rem;
  height: 30rem;
}

.nav_box_1, .nav_box_2, .nav_box_3 {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  height: 53px;
  opacity: 0.87;
  background: #FFFDFD;
  border-radius: 24px;
  z-index: -10;
}

.nav_box_1 {
  width: 231px;
}

.nav_box_2 {
  width: 192px;
}

.nav_box_3 {
  width: 277px;
}

.box_1 {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 37.5rem;
  height: 30rem;
  opacity: 0.32;
  background: #FFFDFD;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 24px;
}
