/* {
  outline: 1px solid red;
}*/

html {
  min-height: 100%;
  overflow: hidden;
}

body {
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: 110vw 110vh;
  background-position: bottom;;
}

.container {
  position: absolute;
  top: 30%;
  left: 20%;
}
