.tempC {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.68;
  font-family: AvenirNextCondensed-UltraLight;
  font-size: 18vw;
  color: #FFFFFF;
  letter-spacing: -7px;
  text-shadow: 0 2px 10px rgba(0,0,0,0.50);
  margin: 0;
}
