.symbol_1 {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 15.3%;
}

.symbol_2 {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 24%;
}

.symbol_3 {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 26.3%;
}

.symbol_4 {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 27.3%;
}

.symbol_5 {
  position: absolute;
  top: 2.5%;
  right: 6%;
  width: 26%;
  z-index: 10;
}

.symbol_6 {
  position: absolute;
  top: 2%;
  right: 7%;
  width: 27.3%;
  z-index: 10;
}

.symbol_7 {
  position: absolute;
  top: 2%;
  right: 7%;
  width: 27.3%;
  z-index: 10;
}

.symbol_8 {
  position: absolute;
  top: 2%;
  right: 7%;
  width: 27.3%;
  z-index: 10;
}

.symbol_9 {
  position: absolute;
  top: 5%;
  right: 4%;
  width: 27%;
  z-index: 10;
}
